@charset "UT8-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-size: 10vw;    /*Segnifica que o tamanho da fonte coresponde a 10% da view wight (largura da tela). Não e a melhor solução, mas funciona.*/
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps; /*Deixa as letras maiusculas e as primeiras letras das palavras maiores ainda.*/
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

section{
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: #555353;
    color: white;
}

section.imagem > p{
    background-color: #00000049;
    display: inline-block;
    padding: 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}